<form [formGroup]="commentForm" class="example-form">
  <div *ngIf="comments.length == 0">No comments yet!</div>

  <table>
    <thead>
      <tr>
        <th *ngIf="comments.length != 0">Comment</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let comment of comments">
        <td><input [value]="comment.comment" readonly /></td>
        <td>
          <div *ngIf="comment.state">
            <button mat-raised-button color="basic" (click)="changeState(comment)">
             Mark as unread
            </button>
          </div>
          <div *ngIf="comment.state==false">
            <button mat-raised-button color="primary" (click)="changeState(comment)">
              Mark as read
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</form>
