<div class="appcontainer">
    <div class="profile">
        <img src="../../assets/images/user-icon.png"  alt="" class="profile_image">
        <div class="about">
            <div>
                <h2>{{teacher.first_name}} {{teacher.last_name}}</h2>
                <div>RATING</div>
                <div class="rating">5 <i class="bi bi-star-fill"></i></div>
                <div>
                    <button class="btn btn-primary"><i class="bi bi-chat-left-text-fill"></i> Send Message</button>
                </div>
            </div>
            <div class="about">
                    <i class="bi bi-person-fill"></i> About

            </div>
            <div>
                <td>
                    <tr>E-mail:</tr>
                    <tr>Phone:</tr>
                    <tr>LinkedIn:</tr>
                </td>
                <td>
                    <tr>{{teacher.email}}</tr>
                    <tr>12345678</tr>
                    <tr>LinkedIn</tr>
                </td>
            </div>
        </div>
    </div>
</div>