<div class="appcontainer">
  <div class="profile">
    <img src="../../assets/images/user-icon.png" alt="" class="profile_image" />
    <div class="about">
      <div>
        <h2>{{ teacher.user?.first_name }} {{ teacher.user?.last_name }}</h2>
        <!-- <div>RATING</div>
                <div class="rating">5 <i class="bi bi-star-fill"></i></div> -->
        <!-- ----------------------------------------------begin rating -->
        <div>
          <ngb-rating (rateChange)="rate($event)"
            class="rating"
            [formControl]="ctrl"
            id="rating"
            [max]="5"
            [(rate)]="starRating"
            [readonly]="false"
          ></ngb-rating> {{avg_rating}}
          <!-- {{teacher.avg_rating}} -->
          <!-- <div>
            <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
            <div *ngIf="ctrl.invalid" class="text-danger">Please rate me</div>
          </div> -->
        </div>

        <!-- ----------------------------------------------end rating -->
        <div>
          <button class="btn btn-primary">
            <i class="bi bi-chat-left-text-fill"></i> Send Message
          </button>
        </div>
      </div>
      <div class="about"><i class="bi bi-person-fill"></i> About</div>
      <div>
        <td>
          <tr>
            E-mail:
          </tr>
          <tr>
            Phone:
          </tr>
          <tr>
            LinkedIn:
          </tr>
        </td>
        <td>
          <tr>
            {{
              teacher.user?.email
            }}
          </tr>
          <tr>
            12345678
          </tr>
          <tr>
            LinkedIn
          </tr>
        </td>
      </div>
    </div>
  </div>
</div>
