.container{
    width: 60%;
    margin: auto;
    margin-top: 20px;
    display: block;
    margin-top: 25px;
    box-shadow: rgb(17, 12, 46, 0.15) 0px
    48px 100px 0px;
    padding: 30px;
  }

  .highlighted {
    color: blue;
  }

  input[type=text],
  input[type=number],
  input[type=date],
  input[type=password] {
    max-width: 400px;
    border-color: rgb(139, 137, 137);
  }