

<div class="account-container">
  <h2>Profile Settings</h2>
  <div class="flex-row">
    
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
      <mat-tab label="Account">
        <form [formGroup]="profileForm">
          <!-- <div class="flex-row"> -->
            
            <div class="flex-column">
              <mat-form-field class="example-full-width" appearance="fill">
                <div class="wrap">
                  <ngx-flag-picker [selectedCountryCode]="selectedCountryCode"
                  [countryCodes]="countryCodes"
                  (changedCountryCode)="changeSelectedCountryCode($event)">
                </ngx-flag-picker>
                (+{{phoneCode}})
                <input matInput placeholder="{{ 'phonenumber' | translate }}" formControlName="phone" type="number" id="phone" class="left-space">
              </div>
              <mat-error *ngIf="phone?.touched && phone!.invalid">Please enter a valid phone number</mat-error>
              </mat-form-field>
  

  
                  <mat-form-field  appearance="fill" class="example-full-width"> <!-- appearance="fill" -->
                  <mat-label>{{ 'firstname' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'firstname' | translate }}" formControlName="first_name" type="text" id="first_name">
                    <mat-error *ngIf="first_name!.invalid && first_name?.touched">
                      {{ 'signup_error_first_name' | translate }}
                    </mat-error>
                  </mat-form-field>

    
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>{{ 'lastname' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'lastname' | translate }}" formControlName="last_name" type="text" id="last_name">
                  <mat-error *ngIf="last_name!.invalid && last_name?.touched">
                    {{ 'signup_error_last_name' | translate }}
                  </mat-error>
                </mat-form-field>
                <!-- <small *ngIf="last_name!.invalid && last_name?.touched" class="text-danger">{{ 'signup_error_last_name' | translate }}</small> -->
                
        
              <!--    Email-->
              <mat-form-field class="example-full-width" appearance="fill" >
                <mat-label>{{ 'email' | translate }} </mat-label>
                <input matInput placeholder="{{ 'email' | translate }}" formControlName="email" type="text" id="email">
                <mat-error *ngIf="email!.invalid && email?.touched">
                  {{ 'signup_error_email' | translate }}
                </mat-error>
              </mat-form-field>
              

              <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" formControlName="birthday" id="birthday" name="birthday" readonly="true"> 
                <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker touchUi="true"></mat-datepicker>
                  <mat-error *ngIf="(birthday?.invalid && birthday?.touched) || (birthday?.touched && this.dateInput)">
                  {{ 'signup_error_birthday' | translate }}
                </mat-error>
              </mat-form-field>
              
            </div>
  
            
  
          
          <!-- </div> -->
        <div>
            <button class="btn btn-success" (click)="save()">Save</button>
          </div>
          
        </form>
        </mat-tab>
        <mat-tab label="Username">
          <form [formGroup]="usernameForm" >
          <mat-form-field  appearance="fill" class="example-full-width">
            <mat-label>{{ 'username' | translate }} </mat-label>
            <input matInput value="" placeholder="{{ 'username' | translate }}" formControlName="username" type="text" id="username">
            <mat-error *ngIf="username!.invalid && username?.touched">
              {{ 'signup_error_username' | translate }}
            </mat-error>
          </mat-form-field>
          <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-error *ngIf="usernamePassword!.invalid && usernamePassword?.touched">{{ 'signup_error_password' | translate }}</mat-error>
              <mat-label>{{ 'password' | translate }}</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="usernamePassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
  
          <div>
            <button class="btn btn-success" (click)="updateUsername()">Save</button>
          </div>
        </form>
        </mat-tab>
  
        <mat-tab label="Password">
          <form [formGroup]="passwordForm">
          <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-error *ngIf="currentPassword!.invalid && currentPassword?.touched">{{ 'signup_error_password' | translate }}</mat-error>
              <mat-label>{{ 'password' | translate }}</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-error *ngIf="newPassword!.invalid && newPassword?.touched">{{ 'signup_error_password' | translate }}</mat-error>
              <mat-label>{{ 'password' | translate }}</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="example-container">
            <mat-form-field appearance="fill" class="example-full-width">
              <mat-error *ngIf="confirmPassword!.invalid && confirmPassword?.touched">{{ 'signup_error_password' | translate }}</mat-error>
              <mat-label>{{ 'password' | translate }}</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <button class="btn btn-success" (click)="updatePassword()">Save</button>
          </div>
        </form>
        </mat-tab>
      </mat-tab-group>
      <div class="center">
        <div class="flex-column">

          <img [src]="imageToDisplay" alt="" style="width:250px;height:200px" class="profile-image" *ngIf="imageToDisplay; else defaultImage">
          <ng-template #defaultImage>
            <img src="../../assets/images/user-icon.png" alt="" style="width:250px;height:200px" class="profile-image">
          </ng-template>
          <input type="file" #image accept="image/*" (change)="handleFileInput($event)">
          <!-- <input type="file" #image (change)="handleFileInput($event)"> -->
          <!-- <video [src]="videoToDisplay" style="width:250px;height:200px" controls type="video/*"></video>
          <input type="file" #image (change)="handleVideoInput($event)">
          <button class="btn btn-success" (click)="updateUserVideo()">Save</button> -->
        </div>
      </div>
  </div>
  
</div>

