<div class="container">
  
    <div class="form_sign">
      <h2 class="title_sign">Password Reset</h2>
      <form [formGroup]="emailForm" class="row g-3" (submit)="onChangePassword()">
  
        <div class="form-group">
          <input placeholder="Email" formControlName="email" type="text" id="email" name="email" class="form-control">
          <small *ngIf="email?.invalid && email?.touched" class="text-danger">email has to been in this format 'example@email.com'</small>
        </div>
  
        <div class="button_sign">
          <button pButton type="submit"  class="w-full">
            Confirm
  
          </button>
        </div>
      </form>
  
  
  
      <br>
      <div class="button_sign">
        <button class="p-button" (click)="goToSignup()">SIGN UP</button>
      </div>
  

  
    </div>
  </div>
  

  