{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on English for lazy{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at English for lazy.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The English for lazy team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at English for lazy.{% endblocktrans %}</p>

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
<p><a href="{{ protocol }}://localhost:4200/{{ url|safe }}"><button style="background-color :rgb(28, 28, 172) ; color : white ; padding : 10px ; width : 70px">Reset</button></a></p>
<p>{% trans "Your username, in case you've forgotten:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The English for lazy team{% endblocktrans %}</p>
{% endblock html_body %}