.form-control.ng-touched.ng-invalid {
  border:1px solid red;
}

.form-control.ng-touched.ng-valid {
  border:1px solid green;
}

.form_sign {
  border-radius: 10px;
  margin-top: 60px;
  padding: 20px;
  /* box-shadow: rgb(17, 12, 46, 0.15) 0px
    48px 100px 0px; */
}

.w-full {
  width: 100%;
}

