<form [formGroup]="form" class="row g-3" >
    <div class="form-group">
        <input placeholder="Password" formControlName="password" [type]="showPassword" id="password" name="password"
             class="form-control">
      <small *ngIf="password?.invalid && password?.touched" class="text-danger">Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</small>
      <p><input type="checkbox" id="passwordStatus" name="passwordStatus" (click)="togglePassword()"> Show Password</p>
    </div>
</form>
