<header>
    <div class="header-content">
      <div class="container grid-2">
        <div class="column2 image">
          <img
            src="../../assets/images/undraw_stripe_payments.svg"
            alt=""
            class="img-element"
          />
        </div>
        <div class="column-1">
          <h1 class="header-title">
            {{ "page_5_title" | translate }}
          </h1>
          <p class="text">{{ "page_5_paragraph" | translate }}
          </p>
          <a href="" class="btn">{{ "page_5_btn" | translate }}</a>
        </div>
      </div>
    </div>
  </header>
  