.container {
    
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    padding: 20px;
    box-shadow: rgb(17, 12, 46, 0.15) 0px
    48px 100px 0px;
    margin-bottom: 10px;
}

.item__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.expanded {
    padding-top: 20px;
    padding-left: 60px;
}

.item__img {
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 10px;
}
.item1 {
    display: flex;
    align-items: center;
}

