<!-- <app-spinner></app-spinner>
<div class="container">
  <div class="item__header" (click)="toggle()">
    <div class="item1">
      <div class="sub-item">
        <img
          class="item__img"
          src="../../assets/images/user-icon.png"
          width="60"
          alt=""
        />
      </div>
      <div class="sub-item">
        <h3>Lesson :</h3>
        <h3>{{ lesson.title }}</h3>
      </div>
    </div>
    <div class="item2">
      <h3>0%</h3>
    </div>
  </div>

  <div *ngIf="isExpanded" class="expanded">
    Get started with lesson :
    <button class="btn btn-primary" (click)="goToLevel()">Start</button>
  </div>
</div> -->


<!-- <app-spinner></app-spinner> -->
<!-- <div class="container" *ngFor="let lesson of lessons"> -->
    <div class="item__header" (click)="toggle()">
        <div class="item1">
            <!-- <div class="sub-item">
                <img class="item__img" src="../../assets/images/user-icon.png" width="60" alt="">
            </div> -->
            <div class="sub-item">
                <!-- <h3>Lesson  :</h3> -->
                <h3>{{lesson.title}}</h3>
            </div>
        </div>
        <div class="item2">
          <!-- <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width' : lessonProgress }"  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div> -->
            <div *ngIf="lessonProgress != 0">
              <h3 style="color: rgb(2, 177, 34);">{{lessonProgress}}%</h3>
            </div>
            <div *ngIf="lessonProgress == 0">
              <h3>{{lessonProgress}}%</h3>
            </div>
        </div>

    </div>


    <div *ngIf="isExpanded" class="expanded">
      <div class="spinner" *ngIf="loading">
        <mat-spinner [diameter]="50" ></mat-spinner>
      </div>
      <div *ngIf="!loading">
        <!-- <mat-spinner [diameter]="50" ></mat-spinner> -->
        <app-category-item [progress]="progress" [lessonElements]="lessonElements" [lesson]="lesson" ></app-category-item>
      </div>
    </div>

<!-- </div> -->