

<!-- /////////////////////////////////////////////////////////////////////////////// -->

<nav class="navbar navbar-expand-lg " style="background-color: #000814 ;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button mat-raised-button color="primary" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a routerLink="/" class="nav-link text-white">

            {{ 'home' | translate }}
          </a>
        </li>
        <!-- Dashboard -->
        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="dashboard" class="nav-link text-white">

            {{ 'lessons' | translate }}
          </a>
        </li>
        <!-- Teachers -->
        <li>
          <a routerLink="teachers" class="nav-link text-white">

            {{ 'teachers' | translate }}
          </a>
        </li>
        <!-- Students -->
        <!-- <li>
          <a routerLink="students" class="nav-link text-white">{{ 'Students' | translate }}</a>
        </li> -->

        <li *ngIf="authService.isLoggedIn() && authService.getRole() == 'T'">
          <a routerLink="tasks" class="nav-link text-white" >

            {{ 'todolist' | translate }}
          </a>
        </li>
        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="chat" class="nav-link text-white" >

            {{ 'messages' | translate }}
          </a>
        </li>

        <li *ngIf="authService.isLoggedIn()">
          <a routerLink="calendar" class="nav-link text-white" >

            {{ 'calendar' | translate }}
          </a>
        </li>
        <!-- <li *ngIf="authService.isLoggedIn()">
          <a routerLink="pricing" class="nav-link text-white">
  
            {{ 'pricing' | translate }}
          </a>
        </li> -->
      </ul>


      <!-- <div class="lang">
        <select name="" id="" class="form-select" aria-label="Default select example" (change)="changeLang($event)">
          <option value="en" [selected]="lang == 'en'">English</option>
          <option value="fr" [selected]="lang == 'fr'">Francais</option>
          <option value="ar" [selected]="lang == 'ar'">Arabic</option>
        </select>
      </div> -->

      
      <app-language-selecteur></app-language-selecteur>

      <div class="text-end" *ngIf="!authService.isLoggedIn()">
        <button mat-raised-button color="primary" type="button" class="btn btn-outline-light me-2" routerLink="login">{{ 'login' | translate }}</button>
        <button mat-raised-button color="primary" type="button" class="btn btn-warning" routerLink="signup">{{ 'signup' | translate }}</button>
      </div>
      <ul class="navbar-nav" *ngIf="authService.isLoggedIn()">
        <li *ngIf="authService.getRole() == 'A' && authService.isLoggedIn()">
          <a routerLink="admin-users" class="nav-link text-white" >
  
            {{ 'admin' | translate }}
          </a>
        </li>
        <li *ngIf="authService.getRole() == 'TM' && authService.isLoggedIn()">
          <a routerLink="tm-users" class="nav-link text-white" >
  
            {{ 'taskmanager' | translate }}
          </a>
        </li>
        <!-- Settings -->
        <li class="nav-item dropdown settings-li">
          <a class="nav-link text-white dropdown" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'settings' | translate}}
          </a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- <li><a class="dropdown-item" routerLink="profile"><i class="bi bi-person"></i> {{ 'profile' | translate}}</a></li> -->
            <li><a class="dropdown-item" routerLink="settings"><i class="bi bi-gear"></i> {{ 'account' | translate}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-power"></i> {{ 'logout' | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>