<div class="header">
  <!-- <h2 mat-dialog-title>Title</h2> -->
  <button mat-icon-button [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>{{confirmMessage}}</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button [mat-dialog-close]="false">No</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="ok()">
    Yes
  </button>
</div>

<!-- <h1 md-dialog-title>Confirm</h1>
<div md-dialog-content>{{ confirmMessage }}</div>
<div md-dialog-actions>
  <button
    md-button
    style="color: #fff; background-color: #153961"
    (click)="dialogRef.close(true)"
  >
    Confirm
  </button>
  <button md-button (click)="dialogRef.close(false)">Cancel</button>
</div> -->
