<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>English for lazy</h4>
        <ul>
          <!-- <li><a href="#">English for lazy</a></li> -->
          <li><a href="#">About</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Stories</a></li>
          <li><a href="#">We're Hiring</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Catalog</h4>
        <ul>
          <!-- <li><a href="#">Catalog</a></li> -->
          <li><a href="#">Full Catalog</a></li>
          <li><a href="#">By Accent</a></li>
          <li><a href="#">American</a></li>
          <li><a href="#">British</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>By Language</h4>
        <ul>
          <!-- <li><a href="#">By Language</a></li> -->
          <li><a href="#">English</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Resources</h4>
        <ul>
          <!-- <li><a href="#">Resources</a></li> -->
          <li><a href="#">Articles</a></li>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help Center</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="https://www.facebook.com/E4lazy"><i class="fa fa-facebook"></i></a>
          <a href="https://instagram.com/e4lazy?igshid=YmMyMTA2M2Y"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
