<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>{{"e4l" | translate}}</h4>
        <ul>
          <!-- <li><a href="#">English for lazy</a></li> -->
          <li><a href="#">{{"about" | translate}}</a></li>
          <li><a href="#">{{"shop" | translate}}</a></li>
          <li><a href="#">{{"stories" | translate}}</a></li>
          <li><a href="#">{{"hiring" | translate}}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{"catalog" | translate}}</h4>
        <ul>
          <!-- <li><a href="#">Catalog</a></li> -->
          <li><a href="#">{{"full_catalog" | translate}}</a></li>
          <li><a href="#">{{"by_accent" | translate}}</a></li>
          <li><a href="#">{{"american" | translate}}</a></li>
          <li><a href="#">{{"british" | translate}}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{"by_language" | translate}}</h4>
        <ul>
          <!-- <li><a href="#">By Language</a></li> -->
          <li><a href="#">{{"english" | translate}}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{"resources" | translate}}</h4>
        <ul>
          <!-- <li><a href="#">Resources</a></li> -->
          <li><a href="#">{{"articles" | translate}}</a></li>
          <li><a href="#">{{"forums" | translate}}</a></li>
          <li><a href="#">{{"blog" | translate}}</a></li>
          <li><a href="#">{{"help_center" | translate}}</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>{{"follow_us" | translate}}</h4>
        <div class="social-links">
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="https://www.facebook.com/E4lazy"><i class="fa fa-facebook"></i></a>
          <a href="https://instagram.com/e4lazy?igshid=YmMyMTA2M2Y"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
