<header>
    <div class="header-content">
        <div class="container grid-2">
            <div class="column2">
                <h1 class="header-title">SCIENCE</h1>
                <h1 class="header-title">BEHIND</h1>
                <h1 class="header-title">E4L</h1>
            </div>
            <div class="column-1">
                
                <p class="text">
                    E4L, English Language Speech Assistant, is a fun and attractive app mainly designed that will help
you improve your English pronunciation. E4L&#39;s artificial intelligence generation became evolved the
use of voice statistics of people talking English with various accents. This allows E4L to apprehend the
speech patterns of non-native speakers, placing it other than maximum different voice recognition
technologies
                </p>
                
            </div>
        </div>
    </div>
</header>