.container {
    border-left: 2px solid rgb(44, 6, 180);
    /* border: 1px solid black; */
    border-radius: 10px;
    /* background-color: rgb(220, 220, 220); */
    font-size: 20px;
    padding: 20px;
    box-shadow: rgb(17, 12, 46, 0.15) 0px
    48px 100px 0px;
    margin-bottom: 10px;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.category {
    padding: 20px;
    /* background-color: #b3b1b1; */
    border-radius: 5px;
    border-color: 2px solid black;
    margin-bottom: 10px;
}