<div class="category">
    <div class="category-title">{{ category }} {{categoryProgress}}% :</div>
    <div class="spinner" *ngIf="loading1">
        <mat-spinner [diameter]="50" ></mat-spinner>
    </div>
    <div *ngIf="!loading1">
        <div *ngFor="let lesson of lessons" >
            <div *ngIf="lessonElements">
                <div *ngIf="lesson.category == category" class="container">
                    <app-lesson-item  [lessonElements]="filterElements(lesson)" [lessonProgress]="findProgress(lesson)" [lesson]="lesson"></app-lesson-item>
                </div>
            </div>
        </div>
    </div>
    
</div>