<div class="chat">
    <div class="app">

        <!-- [ngClass]="{'active' : showScreen == 'chatlist' ? true : false}" -->
        <div *ngIf="showScreen == 'chatlist'">
            <div class="screen chat-screen" >
                <div class="header">
                    <div class="logo">{{'choiceAUser' | translate}}</div>
                    <!-- <button id="exit-chat">{{'exit' | translate}}</button> -->
                </div>
                <div class="messages">
                    <app-messenger-user-item *ngFor="let item of users" [user]="item" (onMessage)="onMessageUser(item)"></app-messenger-user-item>
                </div>
            </div>
        </div>

        <!-- [ngClass]="{'active' : showScreen == 'chat' ? true : false}" -->

        <div *ngIf="showScreen == 'chat'">
            <div class="screen chat-screen">
                <div class="header">
                    <div class="logo">{{receiver.username}}</div>
                    <button id="exit-chat" (click)="goToChatList()">{{'exit' | translate}}</button>
                </div>
                <div class="messages">
                    <div *ngFor="let item of messages">
                        <!-- *ngIf="item.type =='sent'" -->
                        <div class="message my-message" *ngIf="currentUser.id == item.sender && receiver.user?.id == item.receiver">
                            <div>
                                <div class="name">{{'you' | translate}}</div>
                                <div id="currentUser" class="text">{{ item.message }}</div>
                            </div>
                        </div>
                        <!-- <div class="update">
                                abc is joined the conversation
                            </div> -->
                            <!-- *ngIf="item.type =='received'" -->
                        <div class="message other-message" *ngIf="currentUser.id == item.receiver && receiver.user?.id == item.sender">
                            <div>
                                <div class="name">{{ receiver.user?.username }}</div>
                                <div class="text">{{ item.message }}</div>
                            </div>
                        </div>
                    </div>
            
            
                </div>
                <div class="typebox">
                    <input type="text" id="message-input" #msg>
                    <button id="send-message" (click)="sendMsg(msg.value)">{{'send' | translate}}</button>
                </div>
            
            </div>
            
            <!-- <app-messenger-window (goToChatList)="goToChatList()" [messages]="messages"></app-messenger-window> -->
        </div>
    </div>
</div>