<div class="appcontainer">
  <!-- <div *ngFor="let category of categories"> -->
    <!-- {{ category }} {{categoryProgress}}% : -->
    <!-- <app-category-item category="{{ category }}"></app-category-item> -->

    <!-- <app-spinner></app-spinner> -->
    <!-- <div class="container">
      <div class="item__header" (click)="toggle()">
        <div class="item1">
          <div class="sub-item">
            <h3>{{ lesson.title }}</h3>
          </div>
        </div>
        <div class="item2">
          <h3>10%</h3>
        </div>
      </div> -->
      <!-- <app-lesson-item [category]="category"></app-lesson-item> -->
        <!-- <app-lesson-list  [lessons]="lessons" [category]="category"></app-lesson-list> -->
        <!-- <app-progress-list [lessons]="lessons" [category]="category"></app-progress-list> -->

        <app-progress-list [lessons]="lessons" [categories]="categories"></app-progress-list>

    <!-- </div> -->
  <!-- </div> -->
</div>
