<div class="container">

    <div class="form_sign">
      <h2 class="title_sign">{{ 'creatingAnAccount' | translate }}</h2>
      <form [formGroup]="registerForm" class="row g-3" (submit)="register()">
        <span class="centralize">
            <input type="radio" id="student" name="user" value="student" formControlName="user" checked>
            <label for="student"> {{ 'student' | translate }} </label>

            <input type="radio" id="teacher" name="user" value="teacher" formControlName="user">
            <label for="teacher"> {{ 'teacher' | translate }}</label>
        </span>

        <!--    Full Name-->
          <label for="first_name">{{ 'firstname' | translate }}:</label>
          <input aria-label="" placeholder="{{ 'firstname' | translate }}" formControlName="first_name" type="text" id="first_name" name="first_name" class="form-control">
          <small *ngIf="first_name!.invalid && first_name?.touched" class="text-danger">{{ 'signup_error_first_name' | translate }}</small>

          <label for="last_name">{{ 'lastname' | translate }}:</label>
          <input aria-label="" placeholder="{{ 'lastname' | translate }}" formControlName="last_name" type="text" id="last_name" name="last_name" class="form-control">
          <small *ngIf="last_name!.invalid && last_name?.touched" class="text-danger">{{ 'signup_error_last_name' | translate }}</small>


          <!-- Username -->
          <label for="username">{{ 'username' | translate }}:</label>
          <input aria-label="" placeholder="{{ 'username' | translate }}" formControlName="username" type="text" id="username" name="username"
            class="form-control">
          <small *ngIf="username!.invalid && username?.touched" class="text-danger">
            {{ 'signup_error_username' | translate }}
          </small>
          <small *ngIf="username!.invalid && username?.touched" class="text-danger">{{ 'signup_error_username' | translate }}</small>


        <!--    Email-->
        <div class="form-group">
          <label for="email">{{ 'email' | translate }}:</label>
          <input placeholder="{{ 'email' | translate }}" formControlName="email" type="text" id="email" name="email" class="form-control">
          <small *ngIf="email?.invalid && email?.touched" class="text-danger">
            {{ 'signup_error_email' | translate }}
          </small>
        </div>

        <!--Password-->
        <div class="form-group">
          <label for="password">{{ 'password' | translate }}:</label>
          <input placeholder="{{ 'password' | translate }}" formControlName="password" [type]="showPassword" id="password" name="password"
            class="form-control">
          <small *ngIf="password?.invalid && password?.touched" class="text-danger">
            {{ 'signup_error_password' | translate }}
          </small>
          <p><input type="checkbox" id="passwordStatus" name="passwordStatus" (click)="togglePassword()"> {{ 'showpassword' | translate }}</p>
        <small *ngIf="password!.invalid && password?.touched" class="text-danger">{{ 'signup_error_password' | translate }}</small>
        </div>

        <!--Birthday-->
        <div class="form-group">
          <label for="birthday">{{ 'birthday' | translate }}:</label>
          <input placeholder="Birthday" formControlName="birthday" type="date" id="birthday" name="birthday"
            class="form-control">
          <small *ngIf="birthday?.invalid && birthday?.touched" class="text-danger">
            {{ 'signup_error_birthday' | translate }}
          </small>
        </div>

        <!--Phone Number-->
        <div class="form-group">
          <label for="phone">{{ 'phonenumber' | translate }}:</label>
          <input placeholder="Phone number" formControlName="phone" type="number" id="phone" name="phone"
            class="form-control">
          <small *ngIf="phone?.invalid && phone?.touched" class="text-danger">
            {{ 'signup_error_phone_number' | translate }}
          </small>
        </div>
        <small *ngIf="phone!.invalid && phone?.touched" class="text-danger">{{ 'signup_error_phone' | translate }}</small>

        <small class="text-danger" *ngIf="invalidSignup">This username or email is already used !</small>

        <small class="text-danger" *ngIf="serverOffline">Server offline, reconnecting ...</small>

        <div class="button_sign">
          <button pButton>{{ 'createNewAccount' | translate }}</button>
        </div>
      </form>

      <br>
      <div class="button_sign">
        {{ 'alreadyHaveAnAccount' | translate }}<a (click)="goToSignin()"><div class="hypertext">{{ 'login' | translate }}</div></a>
      </div>
    </div>
  </div>