<div class="container">

  <div class="form_sign">
    <h2 class="title_sign">{{ 'creatingAnAccount' | translate }}</h2>
    <form [formGroup]="registerForm" class="row g-3" (submit)="register()">

      <span class="centralize">
        <!-- <mat-radio-button id="student" name="user" value="student" formControlName="user" checked></mat-radio-button> -->
        <input type="radio" id="student" name="user" value="student" formControlName="user" class="form-check-input" checked>
        <label for="student"> {{ 'student' | translate }} </label>

        <!-- <mat-radio-button id="teacher" name="user" value="teacher" formControlName="user"></mat-radio-button> -->
        <input type="radio" id="teacher" name="user" value="teacher" formControlName="user" class="form-check-input left-space">
        <label for="teacher"> {{ 'teacher' | translate }}</label>
      </span>

      <!-- First Name-->
      <mat-form-field class="example-full-width" appearance="fill"> <!-- appearance="fill" -->
        <mat-label>{{ 'firstname' | translate }}</mat-label>
          <input matInput placeholder="{{ 'firstname' | translate }}" formControlName="first_name" type="text" id="first_name">
          <mat-error *ngIf="first_name!.invalid && first_name?.touched">
            {{ 'signup_error_first_name' | translate }}
          </mat-error>
        </mat-form-field>
        <!-- <small *ngIf="first_name!.invalid && first_name?.touched" class="text-danger">{{ 'signup_error_first_name' | translate }}</small> -->

        <!-- Last Name -->
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>{{ 'lastname' | translate }}</mat-label>
          <input matInput placeholder="{{ 'lastname' | translate }}" formControlName="last_name" type="text" id="last_name">
          <mat-error *ngIf="last_name!.invalid && last_name?.touched">
            {{ 'signup_error_last_name' | translate }}
          </mat-error>
        </mat-form-field>
        <!-- <small *ngIf="last_name!.invalid && last_name?.touched" class="text-danger">{{ 'signup_error_last_name' | translate }}</small> -->

        <!-- Username -->
        <mat-form-field class="example-full-width" appearance="fill" >
          <mat-label>{{ 'username' | translate }} </mat-label>
          <input matInput value="" placeholder="{{ 'username' | translate }}" formControlName="username" type="text" id="username">
          <mat-error *ngIf="username!.invalid && username?.touched">
            {{ 'signup_error_username' | translate }}
          </mat-error>
        </mat-form-field>
        <!-- <small *ngIf="username!.invalid && username?.touched" class="text-danger">{{ 'signup_error_username' | translate }}</small> -->


      <!--    Email-->
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>{{ 'email' | translate }} </mat-label>
        <input matInput placeholder="{{ 'email' | translate }}" formControlName="email" type="text" id="email">
        <mat-error *ngIf="email!.invalid && email?.touched">
          {{ 'signup_error_email' | translate }}
        </mat-error>
      </mat-form-field>


      <!--Password-->
      <mat-form-field class="example-full-width" appearance="fill" >
        <mat-label>{{ 'password' | translate }}</mat-label>
        <input matInput placeholder="{{ 'password' | translate }}" formControlName="password" [type]="showPassword" id="password" name="password">
        <mat-error *ngIf="password!.invalid && password?.touched">{{ 'signup_error_password' | translate }}</mat-error>
        <div>{{password!.invalid}}  {{password?.touched}}</div>
      </mat-form-field>
      <!-- <small *ngIf="password!.invalid && password?.touched" class="text-danger">{{ 'signup_error_password' | translate }}</small> -->

      <!-- Show/Hide password(angularMaterial)
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Amount</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
      </div> -->

      <mat-checkbox id="passwordStatus" name="passwordStatus" (click)="togglePassword()">{{ 'showpassword' | translate }}</mat-checkbox>


      <!-- BirthDate -->
      <!-- (focus)="picker.open()" -->
      <mat-form-field >
        <mat-label>{{ 'birthday' | translate }}</mat-label>
        <input [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" formControlName="birthday" id="birthday" name="birthday" readonly="true">
        <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker touchUi="true"></mat-datepicker>
          <mat-error *ngIf="(birthday?.invalid && birthday?.touched) || (birthday?.touched && this.dateInput)">
          {{ 'signup_error_birthday' | translate }}
        </mat-error>
        
      </mat-form-field>

      
      <mat-form-field class="example-full-width" appearance="fill">
        <div class="wrap">
          <ngx-flag-picker [selectedCountryCode]="selectedCountryCode"
          [countryCodes]="countryCodes"
          (changedCountryCode)="changeSelectedCountryCode($event)">
        </ngx-flag-picker>
        (+{{phoneCode}})
        <input matInput  placeholder="{{ 'phonenumber' | translate }}" formControlName="phone" type="text" name="phone" id="phone" class="left-space" #element (keyup)="keyPress($event)">
      </div>
      <mat-error *ngIf="phone!.invalid && phone?.touched">{{ 'signup_error_phone_number' | translate }}</mat-error>
      

    </mat-form-field>
    
    
    <!-- LinkedIn -->
    <mat-form-field class="example-full-width" appearance="fill" *ngIf="user?.value == 'teacher'">
      <mat-label>{{ 'linkedIn' | translate }} </mat-label>
      <input matInput placeholder="{{ 'linkedIn' | translate }}" formControlName="linkedIn" type="text" id="linkedIn">
      <mat-error *ngIf="linkedIn!.invalid && linkedIn?.touched">
        {{ 'signup_error_linkedIn' | translate }}
      </mat-error>
    </mat-form-field>

    <!-- <div *ngIf="user?.value == 'teacher'">
      <img [src]="imageToDisplay" alt="" style="width:250px;height:200px" class="profile-image">
      <input type="file" #image accept="image/*" (change)="handleFileInput($event)">
    </div> -->

    <div *ngIf="user?.value == 'teacher'">
      <video *ngIf="videoToDisplay; else defaultVideo" [src]="videoToDisplay" style="width:250px;height:200px" controls type="video/*"></video>
      <ng-template #defaultVideo>
        <img src="../../assets/images/vector-video-player.png" style="width:250px;height:200px">
      </ng-template>
      <input type="file" #image (change)="handleVideoInput($event)">
    </div>
          
    


    <!-- <div class="form-group">
      <label for="birthday">{{ 'birthday' | translate }}</label>
      <input placeholder="Birthday" formControlName="birthday" type="date" id="birthday" name="birthday"
      class="form-control">
      <small *ngIf="birthday?.invalid && birthday?.touched" class="text-danger">
        {{ 'signup_error_birthday' | translate }}
      </small>
    </div> -->


    <!--Phone Number-->
    <!-- <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>{{ 'phonenumber' | translate }}</mat-label>
      <input matInput placeholder="{{ 'phonenumber' | translate }}" formControlName="phone" type="number" id="phone">
    </mat-form-field> -->


    <!-- <div class="col-md-4">
        <div class="form-group">
            <label for="">YOUR PHONE NUMBER </label>
            <input (keyup)="keyPress(number)" #number required type="text" formControlName="phonenumber" id="phonenumber" name="phonenumber" class="form-control" placeholder="Enter Your phone Number">
            <div *ngIf="phonenumber?.touched && this.isPhoneNumber == false" class="text-danger">
              Phone number is required and must be at least 10 numbers
            </div>
        </div>
    </div> -->
    <!-- <small *ngIf="phone!.invalid && phone?.touched" class="text-danger">{{ 'signup_error_phone' | translate }}</small> -->



      <small class="text-danger" *ngIf="invalidSignup">This username or email is already used !</small>

      <small class="text-danger" *ngIf="serverOffline">Server offline, reconnecting ...</small>

      <div class="button_sign" *ngIf="!uploading">
        <!-- <button pButton>{{ 'createNewAccount' | translate }}</button> -->
        <button mat-raised-button color="primary">{{ 'createNewAccount' | translate }}</button>
      </div>

      <div *ngIf="uploading" class="spinner">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>

    </form>

    <br>
    <div class="button_sign">
      {{ 'alreadyHaveAnAccount' | translate }}<a (click)="goToSignin()"><div class="hypertext">{{ 'login' | translate }}</div></a>
    </div>
  </div>
</div>