<div class="container-side-bar">
  <aside>
    <div class="top">
      <div class="logo">
        <img src="favicon.ico">
        <h2>EGA<span class="danger">TOR</span></h2>
      </div>
      <div class="close" id="close-btn">
        <span class="pi pi-times"></span>
      </div>
    </div>

    <div class="sidebar">
      <a href="#">
        <span class="pi pi-th-large"></span>
        <h3 class="breakable-text">Dashboard</h3>
      </a>
      <a href="#" class="active-side-bar">
        <span class="pi pi-user"></span>
        <h3 class="breakable-text">Customers</h3>
      </a>
      <a href="#">
        <span class="pi pi-book"></span>
        <h3>Orders</h3>
      </a>
      <a href="#">
        <span class="pi pi-chart-line"></span>
        <h3 class="breakable-text">Analytics</h3>
      </a>
      <a href="#">
        <span class="pi pi-envelope"></span>
        <h3 class="breakable-text">Messages</h3>
        <span class="message-count">26</span>
      </a>
      <a href="#">
        <span class="pi pi-bookmark"></span>
        <h3 class="breakable-text">Products</h3>
      </a>
      <a href="#">
        <span class="pi pi-ban"></span>
        <h3 class="breakable-text">Reports</h3>
      </a>
      <a href="#">
        <span class="pi pi-cog"></span>
        <h3 class="breakable-text">Settings</h3>
      </a>
      <a href="#">
        <span class="pi pi-plus-circle"></span>
        <h3 class="breakable-text">Add Product</h3>
      </a>

    </div>
  </aside>
</div>


