<section class="services section">
    <div class="container">
        <div class="cards">
            <div class="card-wrap">
                <div class="card" data-card="Speech">
                    <div class="card-content">
                        <img src="../../assets/images/e4l_home.PNG" alt="" class="icon">
                        <h3 class="title-sm">Real-Time Speech Recognition Feedback</h3>
                        <p class="text">
                            we&#39;re the best speech reputation app designed to
                            evaluate and supply on the spot, special remarks on pronunciation and fluency. This allows the
                            learner to speedy discover and learn the ideal pronunciation.
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-wrap">
                <div class="card" data-card="System">
                    <div class="card-content">
                        <img src="../../assets/images/intelligent.jpg" alt="" class="icon">
                        <h3 class="title-sm">An Intelligent, Adaptive Learning System</h3>
                        <p class="text">
                            E4L receives smarter each day! conventional language
                            learning is converted by way of our personalized English teaching generation. Our self-evolving AI
                            analyzes performance and behavioral records to customize each man or woman&#39;s daily curriculum.
                        </p>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>