<section class="services section">
    <div class="container">
      <div class="cards">
        <div class="card-wrap">
          <div class="card" data-card="Speech">
            <div class="card-content">
              <img src="../../assets/images/e4l_home.PNG" alt="" class="icon" />
              <h3 class="title-sm">
                {{ "page_4_title_1" | translate }}
              </h3>
              <p class="text">
                {{ "page_4_paragraph_1" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="card-wrap">
          <div class="card" data-card="System">
            <div class="card-content">
              <img
                src="../../assets/images/undraw_sentiment_analysis.svg"
                alt=""
                class="icon"
              />
              <h3 class="title-sm">
                {{ "page_4_title_2" | translate }}
              </h3>
              <p class="text">
                {{ "page_4_paragraph_2" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  