<div class="appcontainer">
    <div class="profilecontainer">
        <div class="header">
            <div>
                <img class="item__img" src="../../assets/images/user-icon.png" width="100" alt="">
            </div>
            <div class="sub-item">
                <h2>{{ currentUser.first_name }}</h2>
                <h2>{{ currentUser.last_name }}</h2>
            </div>    
        </div>
        <div class="profileprogress">

            <div class="progressitem">
                <h2>A1</h2>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
            <div class="progressitem">
                <h2>A1</h2>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="progressitem">
                <h2>A1</h2>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
            <div class="progressitem">
                <h2>A1</h2>
                <div class="progress">
                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>
    </div>
</div>