.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    padding: 3px;
    text-align: center;
    /* float: left; */
    /* background-color: #dcd9d9; */
    /* margin-left: 100px;
    margin-bottom: 50px; */
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    padding: 3px;
    text-align: center;
    /* float: left; */
    background-color: #ffffff;
    /* margin-left: 100px;
    margin-bottom: 50px; */
}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 3px;
    text-align: center;
    /* float: left; */
    /* background-color: #dcd9d9; */
    /* margin-left: 100px;
    margin-bottom: 50px; */
}