<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->





<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">


<body>
<div class="appcontainer">
  <div class="container">
    <div class="messaging">
          <div class="inbox_msg">
            <div class="inbox_people">
              <div class="headind_srch">
                <div class="recent_heading">
                  <h4>{{'users' | translate}}</h4>
                </div>
                <!-- <div class="srch_bar">
                  <div class="stylish-input-group">
                    <input type="text" class="search-bar"  placeholder="Search" >
                    <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span> </div>
                </div> -->
                
              </div>
              <div class="inbox_chat">
                <div *ngFor="let item of users">
                  <div class="chat_list active_chat" *ngIf="item.user?.id != authService.getId()"  (click)="onMessageUser(item)">
                      <div class="chat_people" >
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                        <div class="chat_ib">
                          <h5> {{item.user?.first_name}} {{item.user?.last_name}}
                            <!-- <span class="chat_date">Dec 25</span> -->
                          </h5>
                          <p>@{{item.user?.username}}</p>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- <div class="chat_list">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                      <p>Test, which is a new approach to have all solutions 
                        astrology under one roof.</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            
            
            
            
            
            <div class="mesgs">
              <div *ngIf="receiver ; else default">
                <div class="headind_srch" >
                  <div class="recent_heading">
                    <h4 >{{receiver.user?.username}}</h4>
                  </div>
                </div>
                <div class="msg_history">
                  <div *ngFor="let item of messages">
                    <div class="incoming_msg" *ngIf="authService.getId() == item.receiver && receiver.user?.id == item.sender">
                      <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p>{{ item.message }}</p>
                          <span class="time_date"> 11:01 AM    |    June 9</span></div>
                      </div>
                    </div>
                    <div class="outgoing_msg" *ngIf="authService.getId() == item.sender && receiver.user?.id == item.receiver">
                      <div class="sent_msg">
                        <p>{{ item.message }}</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                    </div>
                  </div>
                </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text" class="write_msg" placeholder="{{'typeAMessage' | translate}}" #msg />
                    <button class="msg_send_btn" type="button" (click)="sendMsg(msg.value)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <ng-template #default>
                <h3>{{'pickAUser' | translate}}</h3>
              </ng-template>

            </div>
          </div>
          
          
          <!-- <p class="text-center top_spac"> Design by <a target="_blank" href="https://www.linkedin.com/in/sunil-rajput-nattho-singh/">Sunil Rajput</a></p> -->
          
        </div></div>
</div>
    </body>
