<div class="task-container">
    <header>
        <h1>{{"todolist" | translate}}</h1>
    
    <button class="btn"
    [ngStyle]="{'background-color' : getColor() }"
    (click)="toggleAddTask()">
    <div *ngIf="buttonText == 'close'">
        {{"close" | translate}}
    </div>
    <div *ngIf="buttonText == 'add'">
        {{"add" | translate}}
    </div>
    
    
    </button>
    </header>
    <app-add-task (onAddTask)="addTask($event)"></app-add-task>
    <app-task-item *ngFor="let task of tasks" 
    [task]="task"
    (onDeleteTask)="deleteTask(task)"
    (onToggleReminder)="toggleReminder(task)"></app-task-item>
    
    
</div>